Package: uim-el
Source: uim
Version: 1:1.9.6-1.1~dbus11
Architecture: amd64
Maintainer: NOKUBI Takatsugu <knok@daionet.gr.jp>
Installed-Size: 256
Depends: libc6 (>= 2.38), libuim8 (= 1:1.9.6-1.1~dbus11), uim (>= 1:1.9.6-1.1~dbus11), uim-data (>= 1:1.9.6-1.1~dbus11), emacs | xemacs21-mule | xemacs21-mule-canna-wnn | emacsen
Section: lisp
Priority: optional
Multi-Arch: foreign
Homepage: https://github.com/uim/uim/wiki
Description: Universal Input Method - Emacs front end
 Uim is an input method module library which supports various scripts and can
 act as a front end for a range of input methods, including Anthy, Canna,
 or SKK (for Japanese), Pinyin (for Chinese), Byeoru (for Korean), and
 M17n (for many other languages). Most of its functions are implemented in
 Scheme, so it's very simple and flexible.
 .
 This package contains an Emacs front end for uim.
