Package: libuim-custom2-dbgsym
Source: uim
Version: 1:1.9.6-1.1~dbus11
Auto-Built-Package: debug-symbols
Architecture: amd64
Maintainer: NOKUBI Takatsugu <knok@daionet.gr.jp>
Installed-Size: 42
Depends: libuim-custom2 (= 1:1.9.6-1.1~dbus11)
Section: debug
Priority: optional
Multi-Arch: same
Description: debug symbols for libuim-custom2
Build-Ids: d9e7e4e0fafb89fe47b66a4c97c6c725bbd5a840
